// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2026-2026 Lynx, Inc */

/dts-v1/;

/include/ "lynx-p100.dtsi"

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	compatible = "riscv-virtio";
	model = "lynx,qemu";

	poweroff {
		compatible = "syscon-poweroff";

		value = <0x5555>;
		offset = <0x00>;
		regmap = <0x09>;
	};

	reboot {
		compatible = "syscon-reboot";

		value = <0x7777>;
		offset = <0x00>;
		regmap = <0x09>;
	};

	platform-bus@4000000 {
		compatible = "qemu,platform", "simple-bus";

		interrupt-parent = <&aplic_s>;
		ranges = <0x00 0x00 0x4000000 0x2000000>;
		#address-cells = <0x01>;
		#size-cells = <0x01>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x01 0x00000000>;
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <10000000>;

		cpu0: cpu@0 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <0>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv39";

			status = "okay";
			cpu0_intc: cpu0_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu1: cpu@1 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <1>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv39";

			status = "okay";
			cpu1_intc: cpu1_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu2: cpu@2 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <2>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv39";

			status = "okay";
			cpu2_intc: cpu2_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu3: cpu@3 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <3>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv39";

			status = "okay";
			cpu3_intc: cpu3_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					thread0 {
						cpu = <&cpu0>;
					};
					thread1 {
						cpu = <&cpu1>;
					};
				};
			};
			cluster1 {
				core0 {
					thread0 {
						cpu = <&cpu2>;
					};
					thread1 {
						cpu = <&cpu3>;
					};
				};
			};
		};
	};

	chosen {
		stdout-path = &serial0;
		rng-seed = <0xdc554f06 0xa2cd0251 0x6340a9d7 0x5cab3a92 0x57ab6d94 0x9806eb81 0x83fb4889 0x23e52898>;
	};

	pmu {
		riscv,event-to-mhpmcounters = <0x01 0x01 0x7fff9 0x02 0x02 0x7fffc 0x10019 0x10019 0x7fff8 0x1001b 0x1001b 0x7fff8 0x10021 0x10021 0x7fff8>;
		compatible = "riscv,pmu";
	};

	fw-cfg@10100000 {
		compatible = "qemu,fw-cfg-mmio";

		dma-coherent;
		reg = <0x00 0x10100000 0x00 0x18>;
	};

	flash@20000000 {
		bank-width = <0x04>;
		reg = <0x00 0x20000000 0x00 0x2000000 0x00 0x22000000 0x00 0x2000000>;
		compatible = "cfi-flash";
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		rtc@101000 {
			compatible = "google,goldfish-rtc";

			reg = <0x00 0x101000 0x00 0x1000>;

			interrupts = <0x0b 0x04>;
			interrupt-parent = <&aplic_s>;
		};

		serial0: serial@10000000 {
			compatible = "ns16550a";

			reg = <0x00 0x10000000 0x00 0x100>;

			interrupts = <10 4>; /* 10=irq, 4=IRQ_TYPE_LEVEL_HIGH */
			interrupt-parent = <&aplic_s>;

			clock-frequency = <700000>;
			current-speed = <600>;

			reg-shift = <2>;
			reg-io-width = <4>;
		};

		aplic_m: aplic@c000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xc000000 0x00 0x8000>;

			#address-cells = <0>;
			interrupt-controller;
			#interrupt-cells = <2>;

			riscv,delegate = <&aplic_s 1 96>;
			riscv,delegation = <&aplic_s 1 96>;
			riscv,children = <&aplic_s>;
			riscv,num-sources = <96>;

			msi-parent = <&imsics_m>;
		};

		aplic_s: aplic@d000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xd000000 0x00 0x8000>;

			interrupt-controller;

			#interrupt-cells = <2>;
			#address-cells = <0>;

			riscv,num-sources = <96>;
			msi-parent = <&imsics_s>;
		};

		imsics_m: imsics_m@24000000 {
			compatible = "riscv,imsics";

			reg = <0x00 0x24000000 0x00 0x4000>;

			interrupt-controller;
			#interrupt-cells = <0>;

			interrupts-extended = <&cpu0_intc 11 &cpu1_intc 11 &cpu2_intc 11 &cpu3_intc 11>;
			riscv,num-ids = <255>;

			msi-controller;
		};

		imsics_s: imsics_s@28000000 {
			compatible = "riscv,imsics";

			// for aia-guests=2
			reg = <
				0x00 0x28000000 0x00 0x4000	// CPU 0
				0x00 0x28004000 0x00 0x4000	// CPU 1
				0x00 0x28008000 0x00 0x4000	// CPU 2
				0x00 0x2800c000 0x00 0x4000	// CPU 3
			>;
			riscv,guest-index-bits = <0x02>;

			interrupt-controller;
			#interrupt-cells = <0>;

			interrupts-extended = <&cpu0_intc 9 &cpu1_intc 9 &cpu2_intc 9 &cpu3_intc 9>;
			riscv,num-ids = <255>;

			msi-controller;
		};

		virtio_mmio@10008000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10008000 0x00 0x1000>;

			interrupts = <8 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10007000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10007000 0x00 0x1000>;

			interrupts = <7 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10006000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10006000 0x00 0x1000>;

			interrupts = <6 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10005000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10005000 0x00 0x1000>;

			interrupts = <5 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10004000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10004000 0x00 0x1000>;

			interrupts = <4 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10003000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10003000 0x00 0x1000>;

			interrupts = <3 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10002000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10002000 0x00 0x1000>;

			interrupts = <2 4>;
			interrupt-parent = <&aplic_s>;
		};

		virtio_mmio@10001000 {
			compatible = "virtio,mmio";

			reg = <0x00 0x10001000 0x00 0x1000>;

			interrupts = <1 4>;
			interrupt-parent = <&aplic_s>;
		};
/*
		iommu0: iommu@3010000 {
			compatible = "riscv,iommu";
			reg = <0x0 0x3010000 0x0 0x1000>;

			interrupt-parent = <&aplic_s>;
			interrupts = <36 4>; // In qemu, XX_IOMMU_SYS_IRQ start from 36

			#iommu-cells = <1>;
		};
*/
		pci@30000000 {
			compatible = "pci-host-ecam-generic";

			interrupt-map-mask = <0x1800 0x00 0x00 0x07>;
			interrupt-map = <
						0x00 0x00 0x00 0x01 &aplic_s 0x20 0x04
						0x00 0x00 0x00 0x02 &aplic_s 0x21 0x04
						0x00 0x00 0x00 0x03 &aplic_s 0x22 0x04
						0x00 0x00 0x00 0x04 &aplic_s 0x23 0x04
						0x800 0x00 0x00 0x01 &aplic_s 0x21 0x04
						0x800 0x00 0x00 0x02 &aplic_s 0x22 0x04
						0x800 0x00 0x00 0x03 &aplic_s 0x23 0x04
						0x800 0x00 0x00 0x04 &aplic_s 0x20 0x04
						0x1000 0x00 0x00 0x01 &aplic_s 0x22 0x04
						0x1000 0x00 0x00 0x02 &aplic_s 0x23 0x04
						0x1000 0x00 0x00 0x03 &aplic_s 0x20 0x04
						0x1000 0x00 0x00 0x04 &aplic_s 0x21 0x04
						0x1800 0x00 0x00 0x01 &aplic_s 0x23 0x04
						0x1800 0x00 0x00 0x02 &aplic_s 0x20 0x04
						0x1800 0x00 0x00 0x03 &aplic_s 0x21 0x04
						0x1800 0x00 0x00 0x04 &aplic_s 0x22 0x04
			>;

			ranges = <
									/* type */	/* PCI addr */		/* CPU addr */		/* Size */
				/* PCI io space */ 	0x1000000 	0x00 0x00 			0x00 0x3000000 		0x00 0x10000
				/* PCI MEM 32bit */	0x2000000 	0x00 0x40000000 	0x00 0x40000000 	0x00 0x40000000
				/* PCI MEM 64bit */	0x3000000 	0x04 0x00 			0x04 0x00 			0x04 0x00
			>;
			reg = <0x00 0x30000000 0x00 0x10000000>; /* 256MB ecam */

			msi-parent = <&imsics_s>;
			dma-coherent;
			bus-range = <0x00 0xff>;
			linux,pci-domain = <0x00>;

			device_type = "pci";

			#size-cells = <0x02>;
			#interrupt-cells = <0x01>;
			#address-cells = <0x03>;

			/*
			* The IOMMU manages all functions in this PCI domain except
			* itself. Omit BDF 00:01.0.
			*/
			iommu-map = <0x0 &iommu0 0x0 0x10>,
				<0x11 &iommu0 0x11 0xffef>;

			/* The IOMMU programming interface uses slot 00:01.0 */
			iommu0: iommu@1,0 {
				compatible = "riscv,pci-iommu";
				reg = <0x800 0 0 0 0>;
				#iommu-cells = <1>;
			};
		};
	};
};
