/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	compatible = "riscv-virtio";
	model = "lynx,qemu";

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x00 0x10000000>;
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <10000000>;

		cpu0: cpu@0 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <0>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv57";

			status = "okay";
			cpu0_intc: cpu0_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu1: cpu@1 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <1>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "smaia", "ssaia", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_smaia_ssaia_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv57";

			status = "okay";
			cpu1_intc: cpu1_intc {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
			};
		};
	};

	chosen {
		stdout-path = &serial0;
		rng-seed = <0xdc554f06 0xa2cd0251 0x6340a9d7 0x5cab3a92 0x57ab6d94 0x9806eb81 0x83fb4889 0x23e52898>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		serial0: serial@10000000 {
			compatible = "ns16550a";

			reg = <0x00 0x10000000 0x00 0x100>;

			interrupts = <10 4>; /* 10=irq, 4=IRQ_TYPE_LEVEL_HIGH */
			interrupt-parent = <&aplic_s>;

			clock-frequency = <700000>;
			current-speed = <600>;

			reg-shift = <2>;
			reg-io-width = <4>;
		};

		aplic_m: aplic@c000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xc000000 0x00 0x8000>;

			#address-cells = <0>;
			interrupt-controller;
			#interrupt-cells = <2>;

			riscv,delegate = <&aplic_s 1 96>;
			riscv,delegation = <&aplic_s 1 96>;
			riscv,children = <&aplic_s>;
			riscv,num-sources = <96>;

			msi-parent = <&imsics_m>;
		};

		aplic_s: aplic@d000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xd000000 0x00 0x8000>;

			interrupt-controller;

			#interrupt-cells = <2>;
			#address-cells = <0>;

			riscv,num-sources = <96>;
			msi-parent = <&imsics_s>;
		};

		imsics_m: imsics_m@24000000 {
			compatible = "riscv,imsics";

			reg = <0x00 0x24000000 0x00 0x2000>;

			interrupt-controller;
			#interrupt-cells = <0>;

			interrupts-extended = <&cpu0_intc 11 &cpu1_intc 11>;
			riscv,num-ids = <255>;

			msi-controller;
		};

		imsics_s: imsics_s@28000000 {
			compatible = "riscv,imsics";

			reg = <0x00 0x28000000 0x00 0x2000>;

			interrupt-controller;
			#interrupt-cells = <0>;

			interrupts-extended = <&cpu0_intc 9 &cpu1_intc 9>;
			riscv,num-ids = <255>;

			msi-controller;
		};
	};
};
