// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2020 Lynx, Inc */

/dts-v1/;

/ {
	#address-cells = <0x02>;
	#size-cells = <0x02>;
	compatible = "riscv-virtio";
	model = "lynx,qemu";

	memory@80000000 {
		device_type = "memory";
		reg = <0x00 0x80000000 0x00 0x10000000>;
	};

	cpus {
		#address-cells = <0x01>;
		#size-cells = <0x00>;
		timebase-frequency = <10000000>;

		cpu0: cpu@0 {
			compatible = "riscv";

			device_type = "cpu";

			reg = <0>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";

			mmu-type = "riscv,sv57";

			status = "okay";

			cpu0_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <0x01>;
				interrupt-controller;
			};
		};

		cpu1: cpu@1 {
			compatible = "riscv";

			device_type = "cpu";
			reg = <1>;

			riscv,cbop-block-size = <0x40>;
			riscv,cboz-block-size = <0x40>;
			riscv,cbom-block-size = <0x40>;
			riscv,isa-extensions = "i", "m", "a", "f", "d", "c", "h", "zic64b", "zicbom", "zicbop", "zicboz", "ziccamoa", "ziccif", "zicclsm", "ziccrse", "zicntr", "zicsr", "zifencei", "zihintntl", "zihintpause", "zihpm", "zmmul", "za64rs", "zaamo", "zalrsc", "zawrs", "zfa", "zca", "zcd", "zba", "zbb", "zbc", "zbs", "sdtrig", "shcounterenw", "shgatpa", "shtvala", "shvsatpa", "shvstvala", "shvstvecd", "ssccptr", "sscounterenw", "ssstrict", "sstc", "sstvala", "sstvecd", "ssu64xl", "svadu", "svvptc";
			riscv,isa-base = "rv64i";
			riscv,isa = "rv64imafdch_zic64b_zicbom_zicbop_zicboz_ziccamoa_ziccif_zicclsm_ziccrse_zicntr_zicsr_zifencei_zihintntl_zihintpause_zihpm_zmmul_za64rs_zaamo_zalrsc_zawrs_zfa_zca_zcd_zba_zbb_zbc_zbs_sdtrig_shcounterenw_shgatpa_shtvala_shvsatpa_shvstvala_shvstvecd_ssccptr_sscounterenw_ssstrict_sstc_sstvala_sstvecd_ssu64xl_svadu_svvptc";
			mmu-type = "riscv,sv57";

			status = "okay";

			cpu1_intc: interrupt-controller {
				compatible = "riscv,cpu-intc";

				#interrupt-cells = <1>;
				interrupt-controller;
			};
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};
				core1 {
					cpu = <&cpu1>;
				};
			};
		};
	};

	chosen {
		stdout-path = "/soc/serial@10000000";
		rng-seed = <0x55153bfc 0xf91c7096 0x86a28203 0x2f2306f9 0xc3616e29 0x15b1faf8 0x2866078 0x9121f0b9>;
	};

	soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "simple-bus";
		ranges;

		serial0: serial@10000000 {
			compatible = "ns16550a";

			reg = <0x00 0x10000000 0x00 0x100>;
			reg-shift = <0x2>;
			reg-io-width = <4>;

			interrupts = <10 4>; /* 10=irq, 4=IRQ_TYPE_LEVEL_HIGH */
			interrupt-parent = <&aplic_s>;

			clock-frequency = <700000>;
			current-speed = <600>;
		};

		aplic_s: aplic@d000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xd000000 0x00 0x8000>;

			interrupts-extended = <&cpu0_intc 9 &cpu1_intc 9>;
			interrupt-controller;
			#interrupt-cells = <2>;
			#address-cells = <0>;

			riscv,num-sources = <96>;
		};

		aplic_m: aplic@c000000 {
			compatible = "riscv,aplic";

			reg = <0x00 0xc000000 0x00 0x8000>;

			#address-cells = <0>;
			interrupts-extended = <&cpu0_intc 11 &cpu1_intc 11>;
			interrupt-controller;
			#interrupt-cells = <2>;

			riscv,delegate = <&aplic_s 1 96>;
			riscv,delegation = <&aplic_s 1 96>;
			riscv,children = <&aplic_s>;
			riscv,num-sources = <96>;
		};

		clint@2000000 {
			compatible = "sifive,clint0", "riscv,clint0";

			interrupts-extended = <&cpu0_intc 3 &cpu0_intc 7
									&cpu1_intc 3 &cpu1_intc 7>;
			reg = <0x00 0x2000000 0x00 0x10000>;
		};
	};
};
